/* INCLUDE font "DIN" */
@font-face { src: url("../fonts/DIN\ Condensed\ Regular.ttf"); font-family: "DIN"; }

@keyframes page-load {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* { margin: 0; padding: 0; }

body { animation: 0.5s page-load ease; width: 100vw; overflow-x: hidden; font-family: sans-serif;}

.page-header {
    background: #000000;
    color: #ffffff;

    font-family: "DIN";
    font-size: 20px;

    display: flex;
    align-items: center;
    width: 75px;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    flex-direction: column;
    padding-top: 35px;
}

i {
    color: #cecece;
    font-family: "DIN";
    font-size: 30px;
    transition: 0.5s color ease;
}

header:hover i {
    color: #ffffff00;
}

nav.main-nav {
    background: #000000;
    color: #ffffff;
    font-family: "DIN";
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 75px;
    height: 100vh;
    padding-top: 35px;
    overflow: hidden;
    position: fixed;
    left: 0px;
    transition: 0.5s left ease;
    z-index: 999;
}

nav.sub-nav {
    background: #000000;
    color: #ffffff;
    font-family: "DIN";
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 75px;
    height: 100vh;
    padding-top: 35px;
    overflow: hidden;
    position: fixed;
    left: 0px;
    transition: 0.5s left ease;
}


.nav-list {
    list-style-type: none;
    writing-mode: vertical-lr;
    user-select: none;
}

.nav-list-item {
    display: inline-block;
}

#header-icon {
    width: 50px;
    height: 50px;
    justify-self:flex-end;
}

h1 {
    user-select: none;
    writing-mode: vertical-lr;
    padding-top: 40px;
    position: relative;
    top: -30px;
    color: #cecece;
    text-decoration: none;
    letter-spacing: normal;
    transition: 0.5s color ease, 0.5s letter-spacing ease, 0.5s padding-top ease;
}

.nav-list-link {
    color: #cecece;
    text-decoration: none;
    letter-spacing: normal;
    transition: 0.5s color ease, 0.5s letter-spacing ease;
    padding: 0 30px;
}

.nav-list-link:hover {
    color: #ffffff;
    letter-spacing: 2px;
}

header:hover + nav {
    left: 75px;
}

nav.main-nav:hover {
    left: 75px;
}

#header-nav-group:hover header h1 {
    color: #ffffff;
    letter-spacing: 2px;
    padding-top: 0px;
}

#header-nav-group:hover header i {
    color: #ffffff00;
}

main {
    width: calc(100vw - 75px);
    position: relative;
    left: 75px;
}

section {
    width: calc(100% - 60px);
    padding: 30px;
}

section:nth-child(odd) {
    background-color: #cecece;
}

h2 {
    font-family: 'DIN';
    font-size: 50px;
}

aside {
    width: calc(30% - 70px);
    min-width: 200px;
    padding: 30px;
    background-color: #242424;
    color: #ffffff;
}

img {
    height: 400px;
    width: 400px;
}

.image-card {
    height: 400px;
    width: 400px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
}

.information-card {
    height: 400px;
}

.image-caption-big {
    position: relative;
    bottom: 100px;
    font-size: 100px;
    font-family: 'DIN';
    color: #ffffff;
}

.intro-section {
    
}

table {
    font-family: sans-serif;
}