@font-face {
    src: url("../fonts/DIN\ Condensed\ Regular.ttf");
    font-family: "DIN";
}

* {
    margin: 0;
    padding: 0;
}

header {
    background: #000000;
    color: #ffffff;
    font-family: "DIN";
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 75px;
    height: 100vh;
    padding-top: 35px;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
}

nav.main-nav {
    background: #000000;
    color: #ffffff;
    font-family: "DIN";
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 75px;
    height: 100vh;
    padding-top: 35px;
    overflow: hidden;
    position: fixed;
    left: 0px;
    transition: 0.5s left ease;
}

nav.sub-nav {
    background: #000000;
    color: #ffffff;
    font-family: "DIN";
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 75px;
    height: 100vh;
    padding-top: 35px;
    overflow: hidden;
    position: fixed;
    left: 150px;
    display: none;
}


ul {
    list-style-type: none;
    writing-mode: vertical-lr;
    user-select: none;
}

li {
    display: inline-block;
}

li:hover {
    
}

#header-icon {
    width: 50px;
    height: 50px;
    justify-self:flex-end;
}

h1 {
    user-select: none;
    writing-mode: vertical-lr;
}

.header-link {
    color: #cecece;
    text-decoration: none;
    letter-spacing: normal;
    transition: 0.5s color ease, 0.5s letter-spacing ease;
}

header:hover h1 .header-link {
    color: #ffffff;
    letter-spacing: 2px;
}

.nav-link {
    color: #cecece;
    text-decoration: none;
    letter-spacing: normal;
    transition: 0.5s color ease, 0.5s letter-spacing ease;
}

.nav-link:hover {
    color: #ffffff;
    letter-spacing: 2px;
}

header:hover + nav {
    left: 75px;
}

nav:hover {
    left: 75px;
}

nav:hover + nav {
    display: flex;
}

nav:hover:has(~ nav) {
    display: flex;
}